name: onboarding_pet_care_app
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.5.1

dependencies:
  flutter:
    sdk: flutter
  flutter_svg: ^2.1.0
  smooth_page_indicator: ^1.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/icons/

  fonts:
    - family: Roboto
      fonts:
        - asset: assets/fonts/sf-pro/SFPRODISPLAYBOLD.OTF
          weight: 700
        - asset: assets/fonts/sf-pro/SFPRODISPLAYSEMIBOLDITALIC.otf
          weight: 600
        - asset: assets/fonts/sf-pro/SFPRODISPLAYMEDIUM.OTF
          weight: 500
        - asset: assets/fonts/sf-pro/SFPRODISPLAYREGULAR.otf
          weight: 400